accelerate==0.28.0
bitsandbytes==0.43.0
datasets==2.18.0
evaluate==0.4.1
huggingface_hub==0.22.2
loguru==0.7.2
numpy==1.26.4
setuptools==59.6.0
torch==2.2.2
tqdm==4.66.2
transformers==4.39.2
wandb==0.16.5
